.btn {
  position: absolute;
  right: 20px;
  top: 10;
  transform: translateY(-50%);
}
.header-msg {
  top: 30px;
}

.header {
  z-index: 10000 !important ;
  max-height: 60px !important;
}

.tooltip {
  z-index: 10001 !important;
}
